<section class="jumbotron jumbotron-fluid pt-7 pb-8 py-xl-10 mb-0">
	<div class="container pb-8">
		<h2 class="display-1 text-white position-relative pt-6 pb-6 pb-lg-8">Lorem ipsum dolo, sit amet
			<u class="brand-underline d-none d-sm-inline-block">eiusmod tempor</u>
			<u class="brand-underline d-sm-none">phoenix</u> <u class="brand-underline d-sm-none">rising</u>
		</h2>
		<a class="btn btn-secondary d-block d-sm-inline-block" href="/quiz/">Take Free Quiz</a>
	</div>
</section>